@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Bold.otf");
  font-weight: 700;
}

body {
  margin: 0;
  height: max-content;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: "Roobert";
}

.content-top {
  margin-top: -300px !important;
}

@media only screen and (max-width: 1100px) {
  .content-top {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .global-content.content-top {
    margin-top: -100px !important;
  }
}

@media only screen and (max-width: 400px) {
  .global-section,
  .rewards-section,
  .digital-section {
    overflow-x: hidden;
  }

  .digital-mobile {
    margin-top: 60px;
  }

  .global-mobile {
    transform: scale(1.2) translateX(-20px);
  }

  .digital-mobile {
    transform: scale(1.2) translateX(-20px);
  }

  .rewards-mobile {
    transform: scale(1.2) translateX(20px);
  }
}
