.digital-section {
  height: 1400px;
  width: 100vw;
  margin-top: -220px;

  padding-top: 100px;
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 1800px) {
  .digital-section {
    margin-top: -270px;
  }
}

@media only screen and (max-width: 1700px) {
  .digital-section {
    margin-top: -300px;
  }
}

@media only screen and (max-width: 1600px) {
  .digital-section {
    height: 1200px;
    margin-top: -200px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .digital-section {
    margin-top: -240px !important;
  }
}

@media only screen and (max-width: 1300px) {
  .digital-section {
    margin-top: -125px !important;
    height: 900px;
  }

  .digital-mobile {
    top: 0 !important;
  }
}

@media only screen and (max-width: 1100px) {
  .digital-section {
    margin-top: -350px !important;
    height: 1800px;
  }

  .digital-mobile {
    top: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .digital-section {
    margin-top: -350px;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 95%);
    height: 1700px;
  }
}

@media only screen and (max-width: 450px) {
  .digital-section {
    height: 1500px;
  }

  .digital-section .global-title {
    padding-right: 20px;
  }
}

.digital-mobile {
  top: 100px;
}
