.footer-container {
  height: 700px;
  background: url("/assets/footer.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: -300px;
  z-index: -5 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

@media only screen and (max-width: 1350px) {
  .footer-container {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 1100px) {
  .footer-container {
    margin-top: -500px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .footer-container {
    height: 500px;
  }
}

.footer-title {
  background: linear-gradient(
    99.14deg,
    #9dc4ff -10.74%,
    #ffffff 54.24%,
    #80b2ff 109.22%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  letter-spacing: -0.03em;
  line-height: 100%;
  max-width: 75%;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .footer-title {
    font-size: 46px;
  }
}

@media only screen and (max-width: 640px) {
  .footer-title {
    font-size: 36px;
    max-width: 80%;
  }
}

.header-waiting {
  font-size: 20px;
  line-height: 105.5%;
  color: white;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .header-waiting {
    font-size: 14px;
    margin: 20px 0;
  }
}

.footer-stores-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-stores-container img:first-of-type {
  margin-right: 10px;
}

@media only screen and (max-width: 460px) {
  .footer-stores-container img {
    width: 40%;
  }
}
