.footer-container {
  height: 700px;
  background: url("/assets/footer.png");
  background-size: cover;
  object-fit: cover;
  margin-top: -22vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.footer-title {
  background: linear-gradient(
    99.14deg,
    #9dc4ff -10.74%,
    #ffffff 54.24%,
    #80b2ff 109.22%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  letter-spacing: -0.03em;
  line-height: 100%;
  max-width: 75%;
  text-align: center;
}

.header-waiting {
  font-size: 20px;
  line-height: 105.5%;
  color: white;
  margin-top: 30px;
}
