.rewards-section {
  height: 1440px;
  background: url("/assets/rewards.png");
  background-size: cover;

  object-fit: cover;
  margin-top: -300px;
  position: relative;
  z-index: 5;

  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 100px;
}

.rewards-content {
  margin-top: -100px;
}

@media only screen and (max-width: 1600px) {
  .rewards-section {
    height: 1000px;
    margin-top: -250px;
  }

  .rewards-content {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1300px) {
  .rewards-section {
    margin-top: -200px;
  }

  .rewards-content {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1100px) {
  .rewards-section {
    height: 1440px;
    margin-top: -400px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  }
}

@media only screen and (max-width: 600px) {
  .rewards-section {
    padding: 0 25px;
    height: 1300px;
  }

  .rewards-content {
    margin-top: 300px !important;
  }
}

@media only screen and (max-width: 400px) {
  .rewards-section {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    padding: 0 25px;
    height: 1200px;
  }
}

.rewards-mobile {
  position: absolute;
  top: 200px;
  left: 0;
  height: 1050px;
  width: auto;
  z-index: -1;
  object-fit: contain;
}